<div class="big-card-container">

  <div class="big-card-picture">
    <img
      src="https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/others_3/SI_Pokemon_image1280w.jpg"
      alt="no image"
      height="200px">
  </div>

  <div class="big-card-date">
    <p>20/01/2000</p>
  </div>

  <div class="big-card-title">
    <h1><a href="#">Projeto Pokedex</a></h1>
  </div>

  <div class="big-card-description">
    <p>Projeto pokedex que puxa as informações da API Pokemon é gera cards com a opção de mostrar as versões normais e shinys!</p>
  </div>

</div>
