<header>
  <app-menu-bar></app-menu-bar>
</header>
<app-menu-title></app-menu-title>

<div class="container-articles">
  <div class="articles-main">
    <app-big-card
    pictureCover="https://fs-prod-cdn.nintendo-europe.com/media/images/10_share_images/others_3/SI_Pokemon_image1280w.jpg"
    cardTitle="Projeto Pokedex"
    cardDescription="Pokedex que puxa as informações da PokeAPI, mostrando informações básicas do pokemon é suas versões shinys!"
    dateCard="05/09/2023">
  </app-big-card>

  </div>
  <div class="articles-others">

    <app-small-card
    pictureCover="https://pm1.aminoapps.com/6287/1fd1e2259e6c766fcf8141bf0e6fe2da6a9d7c55_hq.jpg"
    cardTitle="Projeto Pokedex"
    ></app-small-card>

    <app-small-card
    pictureCover="https://pm1.aminoapps.com/6287/1fd1e2259e6c766fcf8141bf0e6fe2da6a9d7c55_hq.jpg"
    cardTitle="Projeto Pokedex"
    ></app-small-card>

    <app-small-card
    pictureCover="https://pm1.aminoapps.com/6287/1fd1e2259e6c766fcf8141bf0e6fe2da6a9d7c55_hq.jpg"
    cardTitle="Projeto Pokedex"
    ></app-small-card>

  </div>
</div>
